Repository EquineCastration/Equine-Castration, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

Update build RN workflow aciton
  .github/workflows/build.react-native-app.yml
Labels: Area: CI

Update build profile and build gh workflow.
  .github/workflows/build.android-app-preview.yml
  app/react-native-app/app.json
  app/react-native-app/eas.json
  pnpm-lock.yaml
Labels: Area: CI, Area: Mobile Frontend (React Native)

Update controllers attribute and allow user to delete their account.
  .github/workflows/build.android-app-preview.yml
  app/EquineCastration/Controllers/CasesController.cs
  app/EquineCastration/Controllers/UsersController.cs
Labels: Area: CI, Area: Backend API

Add delete end point for account deletion. Update TouchableOpacity component. Add delete option to navigation drawer.
  .github/workflows/build.android-app-preview.yml
  app/react-native-app/src/api/user.js
  app/react-native-app/src/components/BasicTouchableOpacity.jsx
  app/react-native-app/src/contexts/BackendApi.jsx
  app/react-native-app/src/navigation/DrawerNavigator.jsx
Labels: Area: CI, Area: Mobile Frontend (React Native)

New CaseService method to delete author's all cases. New UserController delete method which delete's user's account and all of their cases.
  app/EquineCastration/Controllers/UserController.cs
  app/EquineCastration/Controllers/UsersController.cs
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API

Delete account option added. Conditionally render Create case option based on user's permissions.
  app/react-native-app/src/api/user.js
  app/react-native-app/src/navigation/DrawerNavigator.jsx
  app/react-native-app/src/screens/UserHome.jsx
Labels: Area: Mobile Frontend (React Native)

New multi-select component. Some styles update on Picker component.
  app/react-native-app/package.json
  app/react-native-app/src/components/BasicPickerField.jsx
  app/react-native-app/src/components/MultiCheckBoxField.jsx
  app/react-native-app/src/components/MultiSelectField.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFive.jsx
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Preview build workflow for ios
  .github/workflows/build.ios-app-preview.yml
Labels: Area: CI

add privay policy section.
  .github/workflows/build.android-app-preview.yml
  .github/workflows/build.ios-app-preview.yml
  app/EquineCastration/Controllers/UserController.cs
  app/client-app/public/locales/dev/privacy-policy.md
  app/client-app/src/routes/Root.jsx
  app/react-native-app/src/navigation/DrawerNavigator.jsx
Labels: Area: CI, Area: Mobile Frontend (React Native), Area: Backend API

AB#136979: Account deletion option (#16)
  .github/workflows/build.android-app-preview.yml
  .github/workflows/build.ios-app-preview.yml
  app/EquineCastration/Controllers/CasesController.cs
  app/EquineCastration/Controllers/UserController.cs
  app/EquineCastration/Services/CaseService.cs
  app/client-app/public/locales/dev/privacy-policy.md
  app/client-app/src/routes/Root.jsx
  app/react-native-app/app.json
  app/react-native-app/eas.json
  app/react-native-app/package.json
  app/react-native-app/src/api/user.js
  app/react-native-app/src/components/BasicPickerField.jsx
  app/react-native-app/src/components/BasicTouchableOpacity.jsx
  app/react-native-app/src/components/MultiCheckBoxField.jsx
  app/react-native-app/src/components/MultiSelectField.jsx
  app/react-native-app/src/contexts/BackendApi.jsx
  app/react-native-app/src/navigation/DrawerNavigator.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFive.jsx
  app/react-native-app/src/screens/UserHome.jsx
  pnpm-lock.yaml
Labels: Area: CI, Area: Mobile Frontend (React Native), Area: Backend API

Change version.
  .github/workflows/publish.equine-castration.yml
Labels: Area: CI

Build version update. Assign correct pnpm version to use while publishing.
  .github/workflows/publish.equine-castration.yml
  app/react-native-app/app.json
Labels: Area: CI, Area: Mobile Frontend (React Native)

Hide unused features from the home screen.
  app/react-native-app/app.json
  app/react-native-app/src/screens/Account/Registration.jsx
  app/react-native-app/src/screens/UserHome.jsx
Labels: Area: Mobile Frontend (React Native)

Keyboard aware scroll view package and implementation to relevant screens, mainly layout component, which wraps most of the component.
  app/react-native-app/app.json
  app/react-native-app/package.json
  app/react-native-app/src/layout/AccountLayout.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

AB#138888: App completeness (#17)
  .github/workflows/publish.equine-castration.yml
  app/react-native-app/app.json
  app/react-native-app/package.json
  app/react-native-app/src/layout/AccountLayout.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/screens/UserHome.jsx
  pnpm-lock.yaml
Labels: Area: CI, Area: Mobile Frontend (React Native)

Update dot net version
  app/EquineCastration/EquineCastration.csproj
Labels: Area: Backend API

Add new Horse entity, also updates/extend ApplicationUser entity for Owner and Vet. Useful in future in case we want to add additional properties dedicated for each user type.
  app/EquineCastration/Data/ApplicationDbContext.cs
  app/EquineCastration/Data/Entities/Horse.cs
  app/EquineCastration/Data/Entities/Identity/ApplicationUser.cs
  app/EquineCastration/Data/Entities/Identity/Owner.cs
  app/EquineCastration/Data/Entities/Identity/Veterinarian.cs
Labels: Area: Backend API

Updates controllers method as a result of changes to ApplicationUser entity
  app/EquineCastration/Controllers/AccountController.cs
  app/EquineCastration/Controllers/UserController.cs
  app/EquineCastration/Controllers/UsersController.cs
Labels: Area: Backend API

Check for existing owner before registering owner
  .config/dotnet-tools.json
  app/EquineCastration/Controllers/AccountController.cs
Labels: Area: Backend API

Add emails to Owner entity.
  app/EquineCastration/Data/ApplicationDbContext.cs
  app/EquineCastration/Data/Entities/Identity/Owner.cs
Labels: Area: Backend API

New properties for case
  app/EquineCastration/Data/Entities/Case.cs
Labels: Area: Backend API

Remove irrelevant auth config and policies
  app/EquineCastration/Auth/AuthConfiguration.cs
  app/EquineCastration/Auth/AuthPolicies.cs
Labels: Area: Backend API

Convert primary key type to string
  app/EquineCastration/Data/Entities/Identity/Owner.cs
  app/EquineCastration/Data/Entities/Identity/Veterinarian.cs
Labels: Area: Backend API

Update readme.
  README.md
Labels: none

Fix case controller and service method including dto model as a result of new changes.
  app/EquineCastration/Controllers/CasesController.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API

minor update on client.
  app/react-native-app/src/constants/initial-consultation.js
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
Labels: Area: Mobile Frontend (React Native)

Migrations
  app/EquineCastration/Migrations/20240222142703_AddOwnerAndHorse.Designer.cs
  app/EquineCastration/Migrations/20240222142703_AddOwnerAndHorse.cs
Labels: Area: Backend API, Contains: Migrations

Update dot net version
  .github/workflows/build.equine-castration-api.yml
  .github/workflows/deploy.dev.equine-castration.yml
  .github/workflows/publish.equine-castration.yml
Labels: Area: CI

Resolve null ref warnings.
  app/EquineCastration/Controllers/AccountController.cs
  app/EquineCastration/Controllers/RolesController.cs
  app/EquineCastration/Controllers/UserController.cs
  app/EquineCastration/Controllers/UsersController.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Services/TokenIssuingService.cs
Labels: Area: Backend API

Resolve remaining null ref warning
  app/EquineCastration/Controllers/RolesController.cs
  app/EquineCastration/Controllers/UsersController.cs
Labels: Area: Backend API

DischargeEmailService for sending discharge email including email view, one for straight discharge and another for discharge with registration request.
  app/EquineCastration/Config/AppDownloadOptions.cs
  app/EquineCastration/Models/Emails/NotificationEmails.cs
  app/EquineCastration/Services/EmailServices/DischargeEmailService.cs
  app/EquineCastration/Views/Shared/Emails/Discharge.cshtml
  app/EquineCastration/Views/Shared/Emails/DischargeRegistrationRequest.cshtml
Labels: Area: Backend API

Send discharge email based on owner registration status.
  app/EquineCastration/Extensions/ServiceCollectionExtensions.cs
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API

add download options config
  app/EquineCastration/Config/AppDownloadOptions.cs
  app/EquineCastration/Program.cs
  app/EquineCastration/Services/EmailServices/DischargeEmailService.cs
  app/EquineCastration/appsettings.Development.json
Labels: Area: Backend API

delete horse when deleting case
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API

Check horse status before sending discharge email
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API

Port smtp email service.
  app/EquineCastration/Config/EmailSenderOptions.cs
  app/EquineCastration/EquineCastration.csproj
  app/EquineCastration/Extensions/ServiceCollectionExtensions.cs
  app/EquineCastration/Services/EmailSender/SmtpEmailSender.cs
Labels: Area: Backend API

Update package and refactor backend context to resolve cycle warning.
  app/react-native-app/package.json
  app/react-native-app/src/App.jsx
  app/react-native-app/src/contexts/BackendApi.jsx
  app/react-native-app/src/contexts/BackendApiProvider.jsx
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Password reset request screen. This will enable user to request password reset link
  app/react-native-app/src/api/account.js
  app/react-native-app/src/navigation/AccountStack.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/Account/RequestPasswordReset.jsx
Labels: Area: Mobile Frontend (React Native)

Handler for setting new password. This page only reachable through valid password reset token link.
  app/client-app/package.json
  app/client-app/src/pages/account/ResendPasswordReset.jsx
  app/client-app/src/pages/account/ResetPassword.jsx
  app/client-app/src/routes/Account.jsx
  app/client-app/vite.config.js
  app/client-app/vite.config.ts
  pnpm-lock.yaml
Labels: none

AB#104062: New entities (Horse and Owner) and properties for Case entity (#18)
  .config/dotnet-tools.json
  .github/workflows/build.equine-castration-api.yml
  .github/workflows/deploy.dev.equine-castration.yml
  .github/workflows/publish.equine-castration.yml
  app/EquineCastration/Auth/AuthConfiguration.cs
  app/EquineCastration/Auth/AuthPolicies.cs
  app/EquineCastration/Controllers/AccountController.cs
  app/EquineCastration/Controllers/CasesController.cs
  app/EquineCastration/Controllers/RolesController.cs
  app/EquineCastration/Controllers/UserController.cs
  app/EquineCastration/Controllers/UsersController.cs
  app/EquineCastration/Data/ApplicationDbContext.cs
  app/EquineCastration/Data/Entities/Case.cs
  app/EquineCastration/Data/Entities/Horse.cs
  app/EquineCastration/Data/Entities/Identity/ApplicationUser.cs
  app/EquineCastration/Data/Entities/Identity/Owner.cs
  app/EquineCastration/Data/Entities/Identity/Veterinarian.cs
  app/EquineCastration/EquineCastration.csproj
  app/EquineCastration/Migrations/20240222142703_AddOwnerAndHorse.Designer.cs
  app/EquineCastration/Migrations/20240222142703_AddOwnerAndHorse.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/Services/CaseService.cs
  app/EquineCastration/Services/TokenIssuingService.cs
  app/react-native-app/src/constants/initial-consultation.js
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
Labels: Area: CI, Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .azure/pipelines/**/*
  - .github/**/*
"Area: Mobile Frontend (React Native)":
  - app/react-native-app/**/*
"Area: Backend API":
  - app/EquineCastration/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
