Repository EquineCastration/Equine-Castration, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

Make colorScheme optional
  app/react-native-app/src/components/Screen.jsx
  app/react-native-app/src/components/Text.jsx
  app/react-native-app/src/components/forms/SliderField.jsx
Labels: Area: Mobile Frontend (React Native)

Update SurveyModel to include SurveyType
  app/EquineCastration/Models/Survey/SurveyModel.cs
Labels: Area: Backend API

Rename screen name to SurveyForm from CreateSurvey, which renders SurveyForm component, which will be used for both creating and viewing survey. Include disability state for SliderField.
  app/react-native-app/src/components/forms/SliderField.jsx
  app/react-native-app/src/navigation/CaseStack.jsx
  app/react-native-app/src/screens/CaseOverview.jsx
Labels: Area: Mobile Frontend (React Native)

Update survey form validation schema for pictogram pain score field to ensure its more than 0
  app/react-native-app/src/contexts/BackendApiProvider.jsx
  app/react-native-app/src/screens/Survey/form/validationSchema.js
Labels: Area: Mobile Frontend (React Native)

Add disability state to the forms to ensure form fields are locked when viewing. Add submission handler for creating/submitting survey
  app/react-native-app/src/screens/Survey/SurveyForm.jsx
  app/react-native-app/src/screens/Survey/form/SurveyFormTypeOne.jsx
  app/react-native-app/src/screens/Survey/form/SurveyFormTypeThree.jsx
  app/react-native-app/src/screens/Survey/form/SurveyFormTypeTwo.jsx
Labels: Area: Mobile Frontend (React Native)

Refactor CaseOverview component, which allows navigation to case detail or list completed surveys or display any pending survey.
  app/react-native-app/src/components/Text.jsx
  app/react-native-app/src/screens/CaseOverview.jsx
  app/react-native-app/src/screens/Survey/SurveyForm.jsx
Labels: Area: Mobile Frontend (React Native)

Add disability state to SliderField and add preset to Text component.
  app/react-native-app/src/components/Text.jsx
  app/react-native-app/src/components/forms/SliderField.jsx
Labels: Area: Mobile Frontend (React Native)

Revert package upgrade
  app/react-native-app/package.json
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

AB#154694: New UI components (#23)
  app/react-native-app/package.json
  app/react-native-app/src/App.jsx
  app/react-native-app/src/components/Button.jsx
  app/react-native-app/src/components/Screen.jsx
  app/react-native-app/src/components/Spinner.jsx
  app/react-native-app/src/components/Text.jsx
  app/react-native-app/src/components/forms/FieldView.jsx
  app/react-native-app/src/components/forms/FormError.jsx
  app/react-native-app/src/components/forms/GroupCheckBoxField.jsx
  app/react-native-app/src/components/forms/InputField.jsx
  app/react-native-app/src/components/forms/SliderField.jsx
  app/react-native-app/src/components/forms/ToggleField.jsx
  app/react-native-app/src/components/forms/index.jsx
  app/react-native-app/src/contexts/StyleProvider.jsx
  app/react-native-app/src/style/colors.js
  app/react-native-app/src/style/index.js
  app/react-native-app/src/style/spacing.js
  app/react-native-app/src/style/style.js
  app/react-native-app/src/style/toastConfig.js
  app/react-native-app/src/style/typography.js
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

AB#153625: Survey form (#24)
  app/EquineCastration/Models/Survey/SurveyModel.cs
  app/react-native-app/src/api/survey.js
  app/react-native-app/src/constants/survey-types.js
  app/react-native-app/src/contexts/BackendApiProvider.jsx
  app/react-native-app/src/navigation/CaseStack.jsx
  app/react-native-app/src/screens/CaseOverview.jsx
  app/react-native-app/src/screens/Survey/SurveyForm.jsx
  app/react-native-app/src/screens/Survey/form/SurveyFormTypeOne.jsx
  app/react-native-app/src/screens/Survey/form/SurveyFormTypeThree.jsx
  app/react-native-app/src/screens/Survey/form/SurveyFormTypeTwo.jsx
  app/react-native-app/src/screens/Survey/form/index.jsx
  app/react-native-app/src/screens/Survey/form/initialValues.js
  app/react-native-app/src/screens/Survey/form/validationSchema.js
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Case and Horse entity update
  app/EquineCastration/Data/Entities/Case.cs
  app/EquineCastration/Data/Entities/Horse.cs
Labels: Area: Backend API

Updates existing Case and CreateCase dto model properties with new Horse dto model for handling horse data.
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/Models/Case/HorseModel.cs
Labels: Area: Backend API

Updates CaseService
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API

db migration
  app/EquineCastration/Migrations/20240312074654_UpdateCaseAndHorse.Designer.cs
  app/EquineCastration/Migrations/20240312074654_UpdateCaseAndHorse.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/HorseModel.cs
Labels: Area: Backend API, Contains: Migrations

Check horse owner as well as name when matching horse for case creation.
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/Models/Case/HorseModel.cs
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API

Update questions const with appropriate label and default value
  app/react-native-app/src/constants/initial-consultation.js
Labels: Area: Mobile Frontend (React Native)

Extract away Layout component from the consultation form into separate file. A new custom hook which get initial values to be used in formik form based on the keys from the store.
  app/react-native-app/src/screens/InitialConsultation/Layout.jsx
  app/react-native-app/src/screens/InitialConsultation/useInitialValues.js
Labels: Area: Mobile Frontend (React Native)

Updates first entry form with new questions and relevant field types and validation schema for the fields. Also removed Layout compoent and function, which now sits on its own file.
  app/react-native-app/src/components/forms/ToggleField.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
Labels: Area: Mobile Frontend (React Native)

Updates questions and validation schema
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepTwo.jsx
Labels: Area: Mobile Frontend (React Native)

Check horse owner as well as name when matching horse for case creation.
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/Models/Case/HorseModel.cs
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API

Updates DatePickerField component by disabling touch events on text input to allow parent touch events. Also, updates Layout component used in the consulation form.
  app/react-native-app/src/components/DatePickerField.jsx
  app/react-native-app/src/screens/InitialConsultation/Layout.jsx
Labels: Area: Mobile Frontend (React Native)

Updates fields and validation schemas for the third part of the consultation form.
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepThree.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepTwo.jsx
  app/react-native-app/src/screens/InitialConsultation/useInitialValues.js
Labels: Area: Mobile Frontend (React Native)

Add title for the form.
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
Labels: Area: Mobile Frontend (React Native)

Few more fixes
  Shared/Constants/ClientRoutes.cs
  Shared/Constants/CustomClaimTypes.cs
  Shared/Constants/DefaultJsonOptions.cs
  Shared/Extensions/HttpRequestExtensions.cs
  Shared/Services/TokenIssuingService.cs
  Shared/Shared.csproj
  app/EquineCastration/EquineCastration.csproj
Labels: Area: Backend API

last share fixes
  Shared/Models/Email/AccountEmails.cs
  Shared/Models/Email/NotificationEmails.cs
  Shared/Shared.csproj
Labels: none

Add discharge note
  app/EquineCastration/Data/Entities/Case.cs
  app/EquineCastration/Migrations/20240313161829_UpdateCaseAndHorse.Designer.cs
  app/EquineCastration/Migrations/20240313161829_UpdateCaseAndHorse.cs
  app/EquineCastration/Migrations/ApplicationDbContextModelSnapshot.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
Labels: Area: Backend API, Contains: Migrations

Discharge note property
  app/EquineCastration/Data/Entities/Case.cs
  app/EquineCastration/Migrations/20240313161829_UpdateCaseAndHorse.Designer.cs
  app/EquineCastration/Migrations/20240313161829_UpdateCaseAndHorse.cs
  app/EquineCastration/Migrations/ApplicationDbContextModelSnapshot.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
Labels: Area: Backend API, Contains: Migrations

Correct update horse information when updating/editing a case
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API

Remove unused stuff
  app/react-native-app/src/db/db.js
  app/react-native-app/src/db/queries/base.js
Labels: Area: Mobile Frontend (React Native)

Includes deceased and discharge note. also updates function to correctly get default values.
  app/react-native-app/src/constants/initial-consultation.js
  app/react-native-app/src/store/InitialConsultationStore.js
Labels: Area: Mobile Frontend (React Native)

Amends form question including updating fields and validation schema. Adds new step form for additional questions.
  app/react-native-app/src/screens/InitialConsultation/Confirmation.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepEight.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFive.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFour.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepSeven.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepSix.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepThree.jsx
  app/react-native-app/src/screens/InitialConsultation/Layout.jsx
Labels: Area: Mobile Frontend (React Native)

Updates CaseSummary component to correctly display case summary. Similarly with ScreenHeader
  app/react-native-app/src/components/CaseSummary.jsx
  app/react-native-app/src/components/ScreenHeader.jsx
  app/react-native-app/src/screens/CaseDetail.jsx
Labels: Area: Mobile Frontend (React Native)

Adds screen title to step form
  app/react-native-app/src/navigation/CaseStack.jsx
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
Labels: Area: Mobile Frontend (React Native)

Correctly displays case list item.
  app/react-native-app/src/screens/CaseList.jsx
Labels: Area: Mobile Frontend (React Native)

Restructuring
  app/react-native-app/src/navigation/CaseStack.jsx
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
  app/react-native-app/src/screens/Case/CaseDetail.jsx
  app/react-native-app/src/screens/Case/CaseList.jsx
  app/react-native-app/src/screens/Case/CaseOverview.jsx
  app/react-native-app/src/screens/Case/index.jsx
  app/react-native-app/src/screens/InitialConsultation/index.jsx
Labels: Area: Mobile Frontend (React Native)

Correctly update horse information when updating/editing a case
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API

Add loading indicator in the survey submission.
  app/react-native-app/src/screens/Survey/SurveyForm.jsx
Labels: Area: Mobile Frontend (React Native)

helper function to map form values to store
  app/react-native-app/src/store/storeMapper.js
Labels: Area: Mobile Frontend (React Native)

refactor CaseList and CaseOverview components styling
  app/react-native-app/src/screens/Case/CaseList.jsx
  app/react-native-app/src/screens/Case/CaseOverview.jsx
Labels: Area: Mobile Frontend (React Native)

refactor form step form submission by integrating mapValuesToStore function including the some structural changes for clarity.
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepEight.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFive.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFour.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepSeven.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepSix.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepThree.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepTwo.jsx
Labels: Area: Mobile Frontend (React Native)

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .azure/pipelines/**/*
  - .github/**/*
"Area: Mobile Frontend (React Native)":
  - app/react-native-app/**/*
"Area: Backend API":
  - app/EquineCastration/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
