Repository EquineCastration/Equine-Castration, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

Comments
  app/react-native-app/src/store/store.js
Labels: Area: Mobile Frontend (React Native)

Refine GroupOptions component to ensures correct options are selected when data changes
  app/react-native-app/src/App.jsx
  app/react-native-app/src/components/BasicGroupOptions.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFive.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFour.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepThree.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepTwo.jsx
  app/react-native-app/src/screens/Login.jsx
  app/react-native-app/src/store/store.js
Labels: Area: Mobile Frontend (React Native)

Add comments and multi checkbox
  app/react-native-app/src/App.jsx
  app/react-native-app/src/components/BasicGroupOptions.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFive.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFour.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepSix.jsx
  app/react-native-app/src/store/store.js
Labels: Area: Mobile Frontend (React Native)

Refine case list screen
  app/react-native-app/src/App.jsx
  app/react-native-app/src/db/queries/base.js
  app/react-native-app/src/screens/CaseList.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepSix.jsx
  app/react-native-app/src/screens/Login.jsx
  app/react-native-app/src/screens/RecordList.jsx
  app/react-native-app/src/style/style.js
Labels: Area: Mobile Frontend (React Native)

Add case summary screen. Add DefaultLayout component
  app/react-native-app/src/App.jsx
  app/react-native-app/src/components/CaseSummary.jsx
  app/react-native-app/src/layout/DefaultLayout.jsx
  app/react-native-app/src/screens/CaseDetail.jsx
  app/react-native-app/src/screens/CaseList.jsx
  app/react-native-app/src/screens/InitialConsultation/Confirmation.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFive.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFour.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepSix.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepThree.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepTwo.jsx
  app/react-native-app/src/store/store.js
Labels: Area: Mobile Frontend (React Native)

Confirmation screen layout
  app/react-native-app/src/components/ProgressBar.jsx
  app/react-native-app/src/layout/DefaultLayout.jsx
  app/react-native-app/src/screens/InitialConsultation/Confirmation.jsx
Labels: Area: Mobile Frontend (React Native)

Add yup and convert InputField into formik field component.
  app/react-native-app/package.json
  app/react-native-app/src/components/InputField.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Add gradient to the header
  app/react-native-app/src/App.jsx
  app/react-native-app/src/components/InputField.jsx
  app/react-native-app/src/components/ScreenHeader.jsx
  app/react-native-app/src/layout/DefaultLayout.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepTwo.jsx
  app/react-native-app/src/store/store.js
  app/react-native-app/src/style/style.js
Labels: Area: Mobile Frontend (React Native)

Refactor various components such as BasicTouchableOpacity
  app/react-native-app/src/components/BasicTouchableOpacity.jsx
  app/react-native-app/src/components/DatePickerField.jsx
  app/react-native-app/src/components/InputField.jsx
  app/react-native-app/src/layout/DefaultLayout.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/style/style.js
Labels: Area: Mobile Frontend (React Native)

Refactor components
  app/react-native-app/package.json
  app/react-native-app/src/components/BasicTouchableOpacity.jsx
  app/react-native-app/src/components/CheckBox.jsx
  app/react-native-app/src/components/CheckBoxField.jsx
  app/react-native-app/src/components/DatePickerField.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepSix.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepTwo.jsx
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Removed effect from BasicGroupOptionsField component. Replaced default value for a field with relevant value
  app/react-native-app/src/components/BasicGroupOptionsField.jsx
  app/react-native-app/src/constants/initial-consultation.js
  app/react-native-app/src/db/queries/base.js
Labels: Area: Mobile Frontend (React Native)

AB#101826: Initial demo ready (#2)
  app/react-native-app/babel.config.js
  app/react-native-app/package.json
  app/react-native-app/src/App.jsx
  app/react-native-app/src/components/BasicGroupOptionsField.jsx
  app/react-native-app/src/components/BasicHeader.jsx
  app/react-native-app/src/components/BasicPicker.jsx
  app/react-native-app/src/components/BasicPickerField.jsx
  app/react-native-app/src/components/BasicTouchableOpacity.jsx
  app/react-native-app/src/components/BottomSheetField.jsx
  app/react-native-app/src/components/CaseSummary.jsx
  app/react-native-app/src/components/CheckBox.jsx
  app/react-native-app/src/components/CheckBoxField.jsx
  app/react-native-app/src/components/DatePickerField.jsx
  app/react-native-app/src/components/InputField.jsx
  app/react-native-app/src/components/MultiCheckBoxField.jsx
  app/react-native-app/src/components/ProgressBar.jsx
  app/react-native-app/src/components/ScreenHeader.jsx
  app/react-native-app/src/constants/initial-consultation.js
  app/react-native-app/src/db/queries/base.js
  app/react-native-app/src/layout/DefaultLayout.jsx
  app/react-native-app/src/screens/CaseDetail.jsx
  app/react-native-app/src/screens/CaseList.jsx
  app/react-native-app/src/screens/InitialConsultation/Confirmation.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFive.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFour.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepSix.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepThree.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepTwo.jsx
  app/react-native-app/src/screens/Login.jsx
  app/react-native-app/src/screens/RecordList.jsx
  app/react-native-app/src/store/store.js
  app/react-native-app/src/style/style.js
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Initial backend integration in the client in progress
  app/EquineCastration/Controllers/RegistrationRulesController.cs
  app/react-native-app/src/App.jsx
  app/react-native-app/src/api/account.js
  app/react-native-app/src/api/registrationRules.js
  app/react-native-app/src/api/user.js
  app/react-native-app/src/components/FixedStepButton.jsx
  app/react-native-app/src/constants/account-registration.js
  app/react-native-app/src/contexts/BackendApi.jsx
  app/react-native-app/src/contexts/Config.jsx
  app/react-native-app/src/contexts/User.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
  app/react-native-app/src/screens/InitialConsultation/Confirmation.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFive.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFour.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepSix.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepThree.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepTwo.jsx
  app/react-native-app/src/store/AccountRegistrationStore.js
  app/react-native-app/src/store/InitialConsultationStore.js
  docker-compose.yml
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Backend api setup including local development setup on the frontend. Axios instead of ky for fetching due to an error. Dynamic email field validation schema created.
  app/react-native-app/.dev-setup/run.js
  app/react-native-app/babel.config.js
  app/react-native-app/package.json
  app/react-native-app/src/App.jsx
  app/react-native-app/src/api/registrationRules.js
  app/react-native-app/src/api/user.js
  app/react-native-app/src/components/EmailField.jsx
  app/react-native-app/src/components/InputField.jsx
  app/react-native-app/src/components/Spinner.jsx
  app/react-native-app/src/contexts/BackendApi.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
  app/react-native-app/src/screens/Login.jsx
Labels: Area: Mobile Frontend (React Native)

Local dev setup
  app/EquineCastration/Middleware/ConfigCookieMiddleware.cs
  app/EquineCastration/Properties/launchSettings.json
  app/react-native-app/.dev-setup/run.js
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Clean up EmailField component
  app/react-native-app/src/components/EmailField.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Login screen setup
  app/react-native-app/src/App.jsx
  app/react-native-app/src/components/InputField.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/style/style.js
Labels: Area: Mobile Frontend (React Native)

Resolve non-nullable warnings
  app/EquineCastration/Models/RegistrationRule/RegistrationRuleModel.cs
  app/EquineCastration/Services/EmailServices/RazorViewService.cs
  app/EquineCastration/Views/Shared/_EmailFooter.cshtml
Labels: Area: Backend API

Update InputField component with password field type with icon that can be toggleable to show or hide pwd
  app/react-native-app/src/components/InputField.jsx
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Completed Registration step one screen including layouting for Account screens
  app/react-native-app/src/App.jsx
  app/react-native-app/src/components/BasicBackButton.jsx
  app/react-native-app/src/components/EmailField.jsx
  app/react-native-app/src/components/PasswordField.jsx
  app/react-native-app/src/screens/Account/AccountLayout.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
Labels: Area: Mobile Frontend (React Native)

Added GDPR conset screen including validation schmea and condtional rendering of registration form based on user type.
  app/react-native-app/src/App.jsx
  app/react-native-app/src/components/CheckBoxField.jsx
  app/react-native-app/src/constants/account-registration.js
  app/react-native-app/src/screens/Account/Registration.jsx
Labels: Area: Mobile Frontend (React Native)

Completed Post handling for Registration screen.
  app/EquineCastration/Controllers/AccountController.cs
  app/EquineCastration/Views/Shared/_EmailFooter.cshtml
  app/react-native-app/src/api/account.js
  app/react-native-app/src/constants/account-registration.js
  app/react-native-app/src/screens/Account/Registration.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Started cookie handline in RN with async storage
  app/EquineCastration/Auth/SitePermissionClaims.cs
  app/react-native-app/package.json
  app/react-native-app/src/App.jsx
  app/react-native-app/src/api/account.js
  app/react-native-app/src/api/user.js
  app/react-native-app/src/contexts/BackendApi.jsx
  app/react-native-app/src/contexts/Config.jsx
  app/react-native-app/src/contexts/User.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
  app/react-native-app/src/screens/Home.jsx
  app/react-native-app/src/screens/InitialConsultation/Confirmation.jsx
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Extracted relevant cookies and stored them using asyncStorage. These stored cookies can be decoded and used as required, for example extracting user profile. Manage to Log in user
  app/react-native-app/src/api/user.js
  app/react-native-app/src/contexts/BackendApi.jsx
  app/react-native-app/src/contexts/Config.jsx
  app/react-native-app/src/contexts/User.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/Home.jsx
Labels: Area: Mobile Frontend (React Native)

Cleanup navigation stack and also add cookies to api request
  app/EquineCastration/Controllers/UsersController.cs
  app/react-native-app/src/App.jsx
  app/react-native-app/src/api/user.js
  app/react-native-app/src/contexts/BackendApi.jsx
  app/react-native-app/src/contexts/Config.jsx
  app/react-native-app/src/contexts/User.jsx
  app/react-native-app/src/navigation/Account.jsx
  app/react-native-app/src/navigation/Home.jsx
  app/react-native-app/src/navigation/InitialConsultation.jsx
  app/react-native-app/src/navigation/Navigation.jsx
  app/react-native-app/src/navigation/NavigationStack.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/Home.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Resolve Stack navigation structure Automatically log in the user if they have't logout
  app/EquineCastration/Controllers/AccountController.cs
  app/react-native-app/package.json
  app/react-native-app/src/api/user.js
  app/react-native-app/src/components/Spinner.jsx
  app/react-native-app/src/contexts/User.jsx
  app/react-native-app/src/navigation/Account.jsx
  app/react-native-app/src/navigation/Home.jsx
  app/react-native-app/src/navigation/InitialConsultation.jsx
  app/react-native-app/src/navigation/Navigation.jsx
  app/react-native-app/src/navigation/navigationStack.js
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/UserHome.jsx
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native), Area: Backend API

pnpm lock update
  pnpm-lock.yaml
Labels: none

Resolve pnpm lock file issue and also added checks for effective auto login
  app/react-native-app/src/contexts/User.jsx
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Resolve PR comments including some clean up
  app/react-native-app/src/components/PasswordField.jsx
  app/react-native-app/src/constants/account-registration.js
  app/react-native-app/src/contexts/BackendApi.jsx
  app/react-native-app/src/contexts/Config.jsx
  app/react-native-app/src/contexts/User.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
  app/react-native-app/src/screens/UserHome.jsx
Labels: Area: Mobile Frontend (React Native)

Remove null check
  app/react-native-app/src/screens/UserHome.jsx
Labels: Area: Mobile Frontend (React Native)

AB#101536: Client Auth (#4)
  app/EquineCastration/Auth/SitePermissionClaims.cs
  app/EquineCastration/Controllers/UsersController.cs
  app/react-native-app/package.json
  app/react-native-app/src/App.jsx
  app/react-native-app/src/api/account.js
  app/react-native-app/src/api/user.js
  app/react-native-app/src/components/BasicBackButton.jsx
  app/react-native-app/src/components/CheckBoxField.jsx
  app/react-native-app/src/components/EmailField.jsx
  app/react-native-app/src/components/InputField.jsx
  app/react-native-app/src/components/PasswordField.jsx
  app/react-native-app/src/components/Spinner.jsx
  app/react-native-app/src/constants/account-registration.js
  app/react-native-app/src/contexts/BackendApi.jsx
  app/react-native-app/src/contexts/Config.jsx
  app/react-native-app/src/contexts/User.jsx
  app/react-native-app/src/navigation/Account.jsx
  app/react-native-app/src/navigation/Home.jsx
  app/react-native-app/src/navigation/InitialConsultation.jsx
  app/react-native-app/src/navigation/Navigation.jsx
  app/react-native-app/src/navigation/navigationStack.js
  app/react-native-app/src/screens/Account/AccountLayout.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
  app/react-native-app/src/screens/InitialConsultation/Confirmation.jsx
  app/react-native-app/src/screens/UserHome.jsx
  app/react-native-app/src/style/style.js
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Remove navigation to home screen from loign handler in AccountLogin screen as setting user object will automatically render home screen for user. Also moved Account layout component to layout folder
  app/react-native-app/src/layout/AccountLayout.jsx
  app/react-native-app/src/navigation/Navigation.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
Labels: Area: Mobile Frontend (React Native)

Added drawer navigation including logout option. Renamed existing stacks and including some amendments. Added menu button onto the each entry stack.
  app/react-native-app/package.json
  app/react-native-app/src/navigation/AccountStack.jsx
  app/react-native-app/src/navigation/CaseStack.jsx
  app/react-native-app/src/navigation/DrawerNavigator.jsx
  app/react-native-app/src/navigation/HomeStack.jsx
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
  app/react-native-app/src/navigation/Navigation.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/UserHome.jsx
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Added loading indicator when signing in and out. Some toast config i.e. multiline. Api call to backend when logging out.
  app/react-native-app/src/App.jsx
  app/react-native-app/src/components/Spinner.jsx
  app/react-native-app/src/navigation/DrawerNavigator.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/style/style.js
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Amend style
  app/react-native-app/src/navigation/DrawerNavigator.jsx
Labels: Area: Mobile Frontend (React Native)

Update toast config
  app/react-native-app/src/style/style.js
Labels: Area: Mobile Frontend (React Native)

Resolve comments
  app/react-native-app/src/screens/Account/AccountLogin.jsx
Labels: Area: Mobile Frontend (React Native)

Remove existing onModelCreating method from DBContext. Add new entity Case including DBContext. Add and update migrations
  app/EquineCastration/Data/ApplicationDbContext.cs
  app/EquineCastration/Data/Entities/Case.cs
  app/EquineCastration/EquineCastration.csproj
  app/EquineCastration/Migrations/20230425124919_Initial.Designer.cs
  app/EquineCastration/Migrations/20230425124919_Initial.cs
  app/EquineCastration/Migrations/20230425125116_AddCase.Designer.cs
  app/EquineCastration/Migrations/20230425125116_AddCase.cs
  app/react-native-app/src/screens/Account/AccountLogin.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

Start creating service layer
  app/EquineCastration/Auth/AuthPolicies.cs
  app/EquineCastration/Controllers/CasesController.cs
  app/EquineCastration/Data/ApplicationDbContext.cs
  app/EquineCastration/Migrations/20230425140540_Initial.Designer.cs
  app/EquineCastration/Migrations/20230425140540_Initial.cs
  app/EquineCastration/Migrations/20230425141325_AddCase.Designer.cs
  app/EquineCastration/Migrations/20230425141325_AddCase.cs
  app/EquineCastration/Migrations/ApplicationDbContextModelSnapshot.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API, Contains: Migrations

AB#101551: Logout options (#5)
  app/react-native-app/package.json
  app/react-native-app/src/App.jsx
  app/react-native-app/src/components/Spinner.jsx
  app/react-native-app/src/layout/AccountLayout.jsx
  app/react-native-app/src/navigation/AccountStack.jsx
  app/react-native-app/src/navigation/CaseStack.jsx
  app/react-native-app/src/navigation/DrawerNavigator.jsx
  app/react-native-app/src/navigation/HomeStack.jsx
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
  app/react-native-app/src/navigation/Navigation.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
  app/react-native-app/src/screens/UserHome.jsx
  app/react-native-app/src/style/style.js
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .azure/pipelines/**/*
  - .github/**/*
"Area: Mobile Frontend (React Native)":
  - app/react-native-app/**/*
"Area: Backend API":
  - app/EquineCastration/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
