Repository EquineCastration/Equine-Castration, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

Update app version and build number
  app/react-native-app/app.json
Labels: Area: Mobile Frontend (React Native)

Refactors components
  app/react-native-app/src/components/DatePickerField.jsx
  app/react-native-app/src/components/ScreenHeader.jsx
  app/react-native-app/src/components/forms/ToggleField.jsx
Labels: Area: Mobile Frontend (React Native)

Updates form questions.
  app/react-native-app/src/constants/initial-consultation.js
Labels: Area: Mobile Frontend (React Native)

Updates CaseSummary components to correctly display case summary
  app/react-native-app/src/components/CaseSummary.jsx
Labels: Area: Mobile Frontend (React Native)

Move Case screens into its own folder
  app/react-native-app/src/screens/Case/CaseDetail.jsx
  app/react-native-app/src/screens/Case/CaseList.jsx
  app/react-native-app/src/screens/Case/CaseOverview.jsx
  app/react-native-app/src/screens/Case/index.jsx
Labels: Area: Mobile Frontend (React Native)

Update CaseStack to correcly use case screens
  app/react-native-app/src/navigation/CaseStack.jsx
Labels: Area: Mobile Frontend (React Native)

Minor updates
  app/react-native-app/src/components/CaseSummary.jsx
  app/react-native-app/src/components/ScreenHeader.jsx
Labels: Area: Mobile Frontend (React Native)

Amend incorrect screen title.
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
Labels: Area: Mobile Frontend (React Native)

Fix for functions to run, put in place backend end point to run sendOwnerSurvey email
  Functions/Functions.csproj
  Functions/Services/SurveyEmailService.cs
  Functions/Services/SurveyService.cs
  Shared/Models/Account/Email/NewSurveyNotificationModel.cs
  app/EquineCastration/Controllers/SurveysController.cs
  app/EquineCastration/Services/SurveyService.cs
Labels: Area: Backend API

Added email view, main email service now sends to new view
  Shared/Models/Account/Email/NewSurveyNotificationModel.cs
  app/EquineCastration/Services/SurveyService.cs
  app/EquineCastration/Views/Shared/Emails/OwnerSurveyNotification.cshtml
Labels: Area: Backend API

delete token link for account deletion request email
  app/EquineCastration/Constants/ClientRoutes.cs
  app/EquineCastration/Services/EmailServices/AccountEmailService.cs
  app/EquineCastration/Services/TokenIssuingService.cs
  app/EquineCastration/Views/Shared/Emails/AccountDelete.cshtml
Labels: Area: Backend API

New account service
  app/EquineCastration/Controllers/AccountController.cs
  app/EquineCastration/Controllers/UserController.cs
  app/EquineCastration/Program.cs
  app/EquineCastration/Services/AccountService.cs
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API

Page for requesting account deletion
  app/client-app/public/locales/dev/core.json
  app/client-app/src/api/account.js
  app/client-app/src/pages/account/RequestDelete.jsx
Labels: none

confirm delete handler
  app/EquineCastration/Services/AccountService.cs
  app/client-app/public/locales/dev/core.json
  app/client-app/src/api/account.js
  app/client-app/src/pages/account/ConfirmDelete.jsx
  app/client-app/src/routes/Account.jsx
Labels: Area: Backend API

Updates ConfirmDelete component which correctly displays the deletion result.
  app/client-app/src/pages/account/ConfirmDelete.jsx
Labels: none

retry when concurrency exception is caught
  app/EquineCastration/Controllers/AccountController.cs
Labels: Area: Backend API

AB#155775: Account deletion option (#27)
  app/EquineCastration/Constants/ClientRoutes.cs
  app/EquineCastration/Controllers/AccountController.cs
  app/EquineCastration/Controllers/UserController.cs
  app/EquineCastration/Program.cs
  app/EquineCastration/Services/AccountService.cs
  app/EquineCastration/Services/CaseService.cs
  app/EquineCastration/Services/EmailServices/AccountEmailService.cs
  app/EquineCastration/Services/TokenIssuingService.cs
  app/EquineCastration/Views/Shared/Emails/AccountDelete.cshtml
  app/client-app/public/locales/dev/core.json
  app/client-app/src/api/account.js
  app/client-app/src/pages/account/ConfirmDelete.jsx
  app/client-app/src/pages/account/RequestDelete.jsx
  app/client-app/src/routes/Account.jsx
Labels: Area: Backend API

Added site options to link function and web app. Renamed shared to data
  EquineCastration.sln
  Functions/Config/SiteOptions.cs
  Functions/Functions.csproj
  Functions/Program.cs
  app/EquineCastration/EquineCastration.csproj
  docker-compose.yml
Labels: Area: Backend API

Updates from version 6 -> 8 function paradigms
  Functions/Functions.csproj
  Functions/Program.cs
  Functions/SendSurveyNotifications.cs
Labels: none

Moved Data folder content to the new separate Data project.
  EquineCastration.sln
  app/Data/ApplicationDbContext.cs
  app/Data/Data.csproj
  app/Data/Entities/Case.cs
  app/Data/Entities/FeatureFlag.cs
  app/Data/Entities/Horse.cs
  app/Data/Entities/Identity/ApplicationUser.cs
  app/Data/Entities/Identity/Owner.cs
  app/Data/Entities/Identity/Veterinarian.cs
  app/Data/Entities/RegistrationRule.cs
  app/Data/Entities/Survey.cs
  app/Data/Entities/SurveyType.cs
  app/Data/Migrations/20230417112838_Initial.Designer.cs
  app/Data/Migrations/20230417112838_Initial.cs
  app/Data/Migrations/20230818125743_AddCase.Designer.cs
  app/Data/Migrations/20230818125743_AddCase.cs
  app/Data/Migrations/20230821091258_AddLocationPropertyToCase.Designer.cs
  app/Data/Migrations/20230821091258_AddLocationPropertyToCase.cs
  app/Data/Migrations/20240222142703_AddOwnerAndHorse.Designer.cs
  app/Data/Migrations/20240222142703_AddOwnerAndHorse.cs
  app/Data/Migrations/20240229001353_AddSurveyAndType.Designer.cs
  app/Data/Migrations/20240229001353_AddSurveyAndType.cs
  app/Data/Migrations/20240313161829_UpdateCaseAndHorse.Designer.cs
  app/Data/Migrations/20240313161829_UpdateCaseAndHorse.cs
  app/Data/Migrations/ApplicationDbContextModelSnapshot.cs
  app/EquineCastration/EquineCastration.csproj
Labels: Area: Backend API, Contains: Migrations

Add new property
  app/Data/Entities/Case.cs
  app/Data/Entities/Identity/Owner.cs
  app/Data/Entities/SurveyType.cs
Labels: none

Migration
  app/Data/Migrations/20240509235213_AddDaysAfterToSurveyType.Designer.cs
  app/Data/Migrations/20240509235213_AddDaysAfterToSurveyType.cs
Labels: Contains: Migrations

Update survey type model to include days. Also update survey types seeding
  app/EquineCastration/Data/DataSeeder.cs
  app/EquineCastration/Models/Survey/CreateSurveyTypeModel.cs
Labels: Area: Backend API

Fix date parsing issue
  app/EquineCastration/Models/Case/CreateCaseModel.cs
Labels: Area: Backend API

New SurveyEmailService for survey related methods
  app/Data/Models/NewSurveyNotificationModel.cs
  app/EquineCastration/Extensions/ServiceCollectionExtensions.cs
  app/EquineCastration/Models/Account/Token/EmailChangeTokenModel.cs
  app/EquineCastration/Models/Emails/NotificationEmails.cs
  app/EquineCastration/Services/EmailServices/SurveyEmailService.cs
  app/EquineCastration/Views/Shared/Emails/OwnerSurveyNotification.cshtml
Labels: Area: Backend API

new method for sending owner survey notification in SurveyService
  app/EquineCastration/Services/SurveyService.cs
Labels: Area: Backend API

Add SendSurveyNotification endpoint to SurveysController
  app/EquineCastration/Controllers/SurveysController.cs
Labels: Area: Backend API

New function app
  EquineCastration.sln
  app/Functions/.gitignore
  app/Functions/Functions.csproj
  app/Functions/Properties/launchSettings.json
  app/Functions/host.json
Labels: none

Send survey request email
  app/Functions/Config/SiteOptions.cs
  app/Functions/Program.cs
  app/Functions/SendSurveyNotifications.cs
  app/Functions/Services/Contracts/ISurveyService.cs
  app/Functions/Services/SurveyService.cs
Labels: none

Update dotnet-ef version
  .config/dotnet-tools.json
Labels: none

add readme
  app/Functions/README.md
Labels: none

rm statement
  app/EquineCastration/Controllers/SurveysController.cs
Labels: Area: Backend API

Add IsWorkerApp authorization policy for fn app
  app/EquineCastration/Auth/AuthPolicies.cs
  app/EquineCastration/Config/WorkerOptions.cs
  app/EquineCastration/Controllers/SurveysController.cs
Labels: Area: Backend API

Add IsWorkerApp authorization policy
  app/EquineCastration/Auth/AuthConfiguration.cs
Labels: Area: Backend API

Add DaysAfterCase property to SurveyTypeModel
  app/EquineCastration/Models/Survey/SurveyModel.cs
  app/EquineCastration/Models/Survey/SurveyTypeModel.cs
Labels: Area: Backend API

Refactor GetEligibleSurveyTypeByDate method of SurveyService
  app/EquineCastration/Controllers/SurveysController.cs
  app/EquineCastration/Program.cs
  app/EquineCastration/Services/SurveyService.cs
Labels: Area: Backend API

Update SendOwnerSurveys method SurveyService
  app/Functions/Config/SiteOptions.cs
  app/Functions/Program.cs
  app/Functions/Services/SurveyService.cs
Labels: none

Update appsettings.Development.json and docker-compose.yml
  app/EquineCastration/appsettings.Development.json
  docker-compose.yml
Labels: Area: Backend API

update readme
  app/Functions/README.md
Labels: none

Update existing build and deployment workflow for the backend
  .github/workflows/build.function.yml
  .github/workflows/deploy.equine-castration-api.yml
  .github/workflows/deploy.functions.yml
  .github/workflows/publish.equine-castration.yml
Labels: Area: CI

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .azure/pipelines/**/*
  - .github/**/*
"Area: Mobile Frontend (React Native)":
  - app/react-native-app/**/*
"Area: Backend API":
  - app/EquineCastration/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
