Repository EquineCastration/Equine-Castration, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .azure/pipelines/**/*
  - .github/**/*
"Area: Mobile Frontend (React Native)":
  - app/react-native-app/**/*
"Area: Backend API":
  - app/EquineCastration/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

UI update
  app/react-native-app/assets/eq_logo.jpg
  app/react-native-app/src/screens/Account/RequestPasswordReset.jsx
Labels: Area: Mobile Frontend (React Native)

Refactor UserHome screen
  app/react-native-app/src/screens/UserHome.jsx
Labels: Area: Mobile Frontend (React Native)

Update CaseDetail with styling improvements
  app/react-native-app/src/screens/Case/CaseDetail.jsx
Labels: Area: Mobile Frontend (React Native)

Import update
  app/react-native-app/src/screens/Account/Registration.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/screens/UserHome.jsx
Labels: Area: Mobile Frontend (React Native)

remove unused code and dependencies
  app/react-native-app/package.json
  app/react-native-app/src/components/ActionButton.jsx
  app/react-native-app/src/components/BasicBackButton.jsx
  app/react-native-app/src/components/BasicTouchableOpacity.jsx
  app/react-native-app/src/components/CheckBoxField.jsx
  app/react-native-app/src/components/InputField.jsx
  app/react-native-app/src/components/MultiCheckBoxField.jsx
  app/react-native-app/src/components/MultiSelectField.jsx
  app/react-native-app/src/style/style.js
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Update app version and build number
  app/react-native-app/app.json
  app/react-native-app/src/screens/Account/AccountLogin.jsx
Labels: Area: Mobile Frontend (React Native)

Update sdk and packages
  app/react-native-app/app.json
  app/react-native-app/package.json
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Dynamic greeting icon
  app/react-native-app/src/screens/UserHome.jsx
Labels: Area: Mobile Frontend (React Native)

AB#164311: DatePickerField component update (#33)
  app/Data/Entities/Survey.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/Models/Case/HorseModel.cs
  app/EquineCastration/Models/Survey/SurveyModel.cs
  app/EquineCastration/Services/SurveyService.cs
  app/Functions/Services/SurveyService.cs
  app/react-native-app/src/components/CaseSummary.jsx
  app/react-native-app/src/components/DatePickerField.jsx
  app/react-native-app/src/components/forms/DatePickerField.jsx
  app/react-native-app/src/components/forms/index.jsx
  app/react-native-app/src/screens/Case/CaseList.jsx
  app/react-native-app/src/screens/Case/CaseOverview.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepEight.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API

AB#164205: UI update part one (#32)
  app/react-native-app/src/api/account.js
  app/react-native-app/src/components/BasicGroupOptionsField.jsx
  app/react-native-app/src/components/BasicHeader.jsx
  app/react-native-app/src/components/BasicPickerField.jsx
  app/react-native-app/src/components/Button.jsx
  app/react-native-app/src/components/FixedStepButton.jsx
  app/react-native-app/src/components/ProgressBar.jsx
  app/react-native-app/src/components/ScreenHeader.jsx
  app/react-native-app/src/components/forms/FormError.jsx
  app/react-native-app/src/constants/site-permissions.js
  app/react-native-app/src/layout/DefaultLayout.jsx
  app/react-native-app/src/navigation/CaseStack.jsx
  app/react-native-app/src/navigation/HomeStack.jsx
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/Case/CaseList.jsx
  app/react-native-app/src/screens/Case/CaseOverview.jsx
  app/react-native-app/src/style/colors.js
  app/react-native-app/src/style/typography.js
Labels: Area: Mobile Frontend (React Native)

Update dependency
  app/react-native-app/package.json
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Update node version and set up JDK android
  .github/workflows/build.mobile-app-preview.yml
Labels: Area: CI

Fix z-index issue
  app/react-native-app/src/layout/AccountLayout.jsx
Labels: Area: Mobile Frontend (React Native)

- Fix typo in total value calculation - Add form error to toggle field
  app/react-native-app/src/components/forms/ToggleField.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
Labels: Area: Mobile Frontend (React Native)

AB#164213: UI update (#34)
  .github/workflows/build.mobile-app-preview.yml
  app/react-native-app/app.json
  app/react-native-app/assets/eq_logo.jpg
  app/react-native-app/package.json
  app/react-native-app/src/components/ActionButton.jsx
  app/react-native-app/src/components/BasicBackButton.jsx
  app/react-native-app/src/components/BasicTouchableOpacity.jsx
  app/react-native-app/src/components/CheckBoxField.jsx
  app/react-native-app/src/components/InputField.jsx
  app/react-native-app/src/components/MultiCheckBoxField.jsx
  app/react-native-app/src/components/MultiSelectField.jsx
  app/react-native-app/src/components/forms/EmailField.jsx
  app/react-native-app/src/components/forms/PasswordField.jsx
  app/react-native-app/src/components/forms/ToggleField.jsx
  app/react-native-app/src/components/forms/index.jsx
  app/react-native-app/src/layout/AccountLayout.jsx
  app/react-native-app/src/navigation/DrawerNavigator.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
  app/react-native-app/src/screens/Account/RequestPasswordReset.jsx
  app/react-native-app/src/screens/Case/CaseDetail.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/screens/UserHome.jsx
  app/react-native-app/src/style/style.js
  pnpm-lock.yaml
Labels: Area: CI, Area: Mobile Frontend (React Native)

bicep setup
  .azure/bicep/bicepconfig.json
  .azure/bicep/equinecastration/base.appsettings.yaml
  .azure/bicep/equinecastration/prod.bicepparam
  .azure/bicep/equinecastration/uat.bicepparam
  .azure/bicep/main.bicep
Labels: none

Add the instruction for the owner
  app/react-native-app/src/screens/Survey/SurveyForm.jsx
Labels: Area: Mobile Frontend (React Native)

New controller and service method that returns a list of owners cases but with limited information
  app/EquineCastration/Controllers/CasesController.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API

Check user role and get the case list accordingly
  app/react-native-app/src/api/case.js
  app/react-native-app/src/screens/Case/CaseList.jsx
Labels: Area: Mobile Frontend (React Native)

Update babel and metro config for asset resolution
  app/react-native-app/babel.config.js
  app/react-native-app/metro.config.js
Labels: Area: Mobile Frontend (React Native)

Add ZoomableImageScreen component for displaying zoomable images
  app/react-native-app/package.json
  app/react-native-app/src/screens/ZoomableImage.jsx
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Add CommonStack component for common navigation
  app/react-native-app/src/navigation/CommonStack.jsx
  app/react-native-app/src/navigation/Navigation.jsx
Labels: Area: Mobile Frontend (React Native)

Add PainScoreImage component for displaying pain scale image in survey form
  app/react-native-app/assets/pain-scale.png
  app/react-native-app/src/screens/Survey/form/PainScoreImage.jsx
Labels: Area: Mobile Frontend (React Native)

Integrate Pain score image next to pain scale/score field in the survey/owner form
  app/react-native-app/src/screens/Survey/SurveyForm.jsx
  app/react-native-app/src/screens/Survey/form/SurveyFormTypeOne.jsx
  app/react-native-app/src/screens/Survey/form/SurveyFormTypeTwo.jsx
  app/react-native-app/src/screens/Survey/form/index.jsx
Labels: Area: Mobile Frontend (React Native)

fix image import
  app/react-native-app/src/layout/AccountLayout.jsx
Labels: Area: Mobile Frontend (React Native)

Update android versionCode
  app/react-native-app/app.json
Labels: Area: Mobile Frontend (React Native)

New controller and service method that returns a list of owners cases but with limited information
  app/EquineCastration/Controllers/CasesController.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API

Check user role and get the case list accordingly
  app/react-native-app/src/api/case.js
  app/react-native-app/src/screens/Case/CaseList.jsx
Labels: Area: Mobile Frontend (React Native)

Update babel and metro config for asset resolution
  app/react-native-app/babel.config.js
  app/react-native-app/metro.config.js
Labels: Area: Mobile Frontend (React Native)

fix image import
  app/react-native-app/src/layout/AccountLayout.jsx
Labels: Area: Mobile Frontend (React Native)

AB#166026: Limit case detail for owner (#35)
  app/EquineCastration/Controllers/CasesController.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Services/CaseService.cs
  app/react-native-app/babel.config.js
  app/react-native-app/metro.config.js
  app/react-native-app/src/api/case.js
  app/react-native-app/src/layout/AccountLayout.jsx
  app/react-native-app/src/screens/Case/CaseList.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Update image
  app/react-native-app/assets/pain-scale.png
Labels: Area: Mobile Frontend (React Native)

AB#166025: Pain score image in survey form (#36)
  app/react-native-app/app.json
  app/react-native-app/assets/pain-scale.png
  app/react-native-app/package.json
  app/react-native-app/src/navigation/CommonStack.jsx
  app/react-native-app/src/navigation/Navigation.jsx
  app/react-native-app/src/screens/Survey/SurveyForm.jsx
  app/react-native-app/src/screens/Survey/form/PainScoreImage.jsx
  app/react-native-app/src/screens/Survey/form/SurveyFormTypeOne.jsx
  app/react-native-app/src/screens/Survey/form/SurveyFormTypeTwo.jsx
  app/react-native-app/src/screens/Survey/form/index.jsx
  app/react-native-app/src/screens/ZoomableImage.jsx
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Add close button
  app/react-native-app/src/components/Button.jsx
  app/react-native-app/src/screens/ZoomableImage.jsx
Labels: Area: Mobile Frontend (React Native)

Update version numbers for iOS and Android
  app/react-native-app/app.json
Labels: Area: Mobile Frontend (React Native)

AB#168624: Add close button to ZoomableImageScreen component (#37)
  app/react-native-app/app.json
  app/react-native-app/src/components/Button.jsx
  app/react-native-app/src/screens/ZoomableImage.jsx
Labels: Area: Mobile Frontend (React Native)

label update
  app/react-native-app/src/constants/initial-consultation.js
Labels: Area: Mobile Frontend (React Native)

update email format
  app/EquineCastration/Views/Shared/Emails/DischargeRegistrationRequest.cshtml
Labels: Area: Backend API

Add docs.
  docs/.gitignore
  docs/.vscode/launch.json
  docs/next.config.js
  docs/package.json
  docs/pages/_meta.json
  docs/pages/developer/_meta.json
  docs/pages/developer/configuration.mdx
  docs/pages/developer/getting-started.mdx
  docs/pages/developer/react-native.mdx
  docs/pages/developer/worker.mdx
  docs/pages/index.mdx
  docs/public/eq_logo.jpg
  docs/theme.config.jsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none
