Repository EquineCastration/Equine-Castration, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .azure/pipelines/**/*
  - .github/**/*
"Area: Mobile Frontend (React Native)":
  - app/react-native-app/**/*
"Area: Backend API":
  - app/EquineCastration/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

Update existing workflow for building app preview
  .github/workflows/build.android-app-preview.yml
  .github/workflows/build.mobile-app-preview.yml
  .github/workflows/deploy.dev.equine-castration.yml
Labels: Area: CI

Remove production jobs.
  .azure/bicep/equinecastration/uat.bicepparam
  .github/workflows/deploy.equine-castration-api.yml
  .github/workflows/deploy.functions.yml
  app/Functions/local.settings.json
Labels: Area: CI

Update secrets for UAT environment in build and deployment workflows
  .github/workflows/build.mobile-app-preview.yml
  .github/workflows/deploy.equine-castration-api.yml
Labels: Area: CI

Remove unused bicep file
  .azure/bicep/equinecastration/uat.bicepparam
Labels: none

Refactor auth policies that checks for valid identifier
  app/EquineCastration/Auth/AuthPolicies.cs
  app/EquineCastration/Config/AppRequestHeaderOptions.cs
  app/EquineCastration/Config/Configs.cs
  app/EquineCastration/Program.cs
  app/EquineCastration/appsettings.Development.json
Labels: Area: Backend API

Update env variable on the client as well
  app/react-native-app/src/contexts/BackendApiProvider.jsx
Labels: Area: Mobile Frontend (React Native)

Update BackendApiProvider
  app/react-native-app/package.json
  app/react-native-app/src/contexts/BackendApiProvider.jsx
Labels: Area: Mobile Frontend (React Native)

Fix
  app/EquineCastration/Auth/AuthPolicies.cs
Labels: Area: Backend API

Update mobile app preview build workflow secrets
  .github/workflows/build.mobile-app-preview.yml
Labels: Area: CI

Add deploy for fn app
  .github/workflows/deploy.functions.yml
Labels: Area: CI

AB#163712: Update workflow and environment variable (#29)
  .github/workflows/build.android-app-preview.yml
  .github/workflows/build.function.yml
  .github/workflows/build.mobile-app-preview.yml
  .github/workflows/deploy.dev.equine-castration.yml
  .github/workflows/deploy.equine-castration-api.yml
  .github/workflows/deploy.functions.yml
  .github/workflows/publish.equine-castration.yml
  app/EquineCastration/Auth/AuthPolicies.cs
  app/EquineCastration/Config/AppRequestHeaderOptions.cs
  app/EquineCastration/Config/Configs.cs
  app/EquineCastration/Program.cs
  app/EquineCastration/appsettings.Development.json
  app/Functions/local.settings.json
  app/react-native-app/package.json
  app/react-native-app/src/contexts/BackendApiProvider.jsx
Labels: Area: CI, Area: Mobile Frontend (React Native), Area: Backend API

field update
  app/react-native-app/src/constants/initial-consultation.js
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFour.jsx
Labels: Area: Mobile Frontend (React Native)

Update existing one
  README.md
Labels: none

readme for the RN app
  app/react-native-app/README.md
Labels: Area: Mobile Frontend (React Native)

Publish the Functions project correctly.
  .github/workflows/deploy.functions.yml
Labels: Area: CI

Remove branch
  .github/workflows/deploy.functions.yml
Labels: Area: CI

Update README.md
  README.md
Labels: none

AB#163708: New README for the mobile app (#30)
  .github/workflows/deploy.functions.yml
  README.md
  app/react-native-app/README.md
  app/react-native-app/src/constants/initial-consultation.js
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFour.jsx
Labels: Area: CI, Area: Mobile Frontend (React Native)

Update deployment workflow to include web frontend build and publish.
  .github/workflows/deploy.equine-castration-api.yml
Labels: Area: CI

Update readme.
  app/react-native-app/README.md
Labels: Area: Mobile Frontend (React Native)

AB#163959: Fix the deployment workflow (#31)
  .github/workflows/deploy.equine-castration-api.yml
  app/react-native-app/README.md
Labels: Area: CI, Area: Mobile Frontend (React Native)

Update back end to return the date object instead of formatted string date
  app/Data/Entities/Survey.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/Models/Case/HorseModel.cs
  app/EquineCastration/Models/Survey/SurveyModel.cs
  app/EquineCastration/Services/SurveyService.cs
Labels: Area: Backend API

Moved DatePickerField into the forms folder for the better organisation, as it is formik component
  app/react-native-app/src/components/DatePickerField.jsx
  app/react-native-app/src/components/forms/DatePickerField.jsx
  app/react-native-app/src/components/forms/index.jsx
Labels: Area: Mobile Frontend (React Native)

Import update
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepEight.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
Labels: Area: Mobile Frontend (React Native)

date formatting
  app/react-native-app/src/components/CaseSummary.jsx
  app/react-native-app/src/screens/Case/CaseList.jsx
  app/react-native-app/src/screens/Case/CaseOverview.jsx
Labels: Area: Mobile Frontend (React Native)

Add validation for discharge date
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepEight.jsx
Labels: Area: Mobile Frontend (React Native)

Use utc to calc days as similat to tothers
  app/Functions/Services/SurveyService.cs
Labels: none

Fix import
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepEight.jsx
Labels: Area: Mobile Frontend (React Native)

Update color palette and export fonts
  app/react-native-app/src/style/colors.js
  app/react-native-app/src/style/typography.js
Labels: Area: Mobile Frontend (React Native)

Display resend confirmation option if email is not confirmed
  app/react-native-app/src/api/account.js
  app/react-native-app/src/screens/Account/AccountLogin.jsx
Labels: Area: Mobile Frontend (React Native)

New button style
  app/react-native-app/src/components/Button.jsx
Labels: Area: Mobile Frontend (React Native)

style update
  app/react-native-app/src/components/ScreenHeader.jsx
  app/react-native-app/src/layout/DefaultLayout.jsx
  app/react-native-app/src/navigation/CaseStack.jsx
  app/react-native-app/src/navigation/HomeStack.jsx
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
Labels: Area: Mobile Frontend (React Native)

Move ProgressBar component into FixedStepButton component file.
  app/react-native-app/src/components/BasicGroupOptionsField.jsx
  app/react-native-app/src/components/BasicHeader.jsx
  app/react-native-app/src/components/BasicPickerField.jsx
  app/react-native-app/src/components/FixedStepButton.jsx
  app/react-native-app/src/components/ProgressBar.jsx
Labels: Area: Mobile Frontend (React Native)

Use color scheme from StyleProvider
  app/react-native-app/src/components/forms/FormError.jsx
Labels: Area: Mobile Frontend (React Native)

Update CaseOverview component with permission check for creating case surveys
  app/react-native-app/src/constants/site-permissions.js
  app/react-native-app/src/screens/Case/CaseList.jsx
  app/react-native-app/src/screens/Case/CaseOverview.jsx
Labels: Area: Mobile Frontend (React Native)

Update CaseOverview UI
  app/react-native-app/src/screens/Case/CaseOverview.jsx
Labels: Area: Mobile Frontend (React Native)

Move email and passwordfield component into the forms folder
  app/react-native-app/src/components/forms/EmailField.jsx
  app/react-native-app/src/components/forms/PasswordField.jsx
  app/react-native-app/src/components/forms/index.jsx
Labels: Area: Mobile Frontend (React Native)

Add logo to AccountLayout and improve UI
  app/react-native-app/src/layout/AccountLayout.jsx
Labels: Area: Mobile Frontend (React Native)

Refactor DrawerNavigator for UI consistency
  app/react-native-app/src/navigation/DrawerNavigator.jsx
Labels: Area: Mobile Frontend (React Native)

Display spinner when awaiting to register a user. Replace CheckBoxField with ToggleField
  app/react-native-app/src/screens/Account/Registration.jsx
Labels: Area: Mobile Frontend (React Native)
