Repository EquineCastration/Equine-Castration, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .azure/pipelines/**/*
  - .github/**/*
"Area: Mobile Frontend (React Native)":
  - app/react-native-app/**/*
"Area: Backend API":
  - app/EquineCastration/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

Setup Backend for case
  app/EquineCastration/Auth/AuthConfiguration.cs
  app/EquineCastration/Auth/AuthPolicies.cs
  app/EquineCastration/Auth/SitePermissionClaims.cs
  app/EquineCastration/Controllers/CasesController.cs
  app/EquineCastration/Data/Entities/Case.cs
  app/EquineCastration/Migrations/20230426074950_Initial.Designer.cs
  app/EquineCastration/Migrations/20230426074950_Initial.cs
  app/EquineCastration/Migrations/20230426110918_AddCase.Designer.cs
  app/EquineCastration/Migrations/20230426110918_AddCase.cs
  app/EquineCastration/Migrations/ApplicationDbContextModelSnapshot.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/Program.cs
  app/EquineCastration/Services/CaseService.cs
Labels: Area: Backend API, Contains: Migrations

Backend setup for Case form including api setup in the frontend. Few adjustment made on the frontend to match case field property with backend.
  app/EquineCastration/Data/Entities/Case.cs
  app/EquineCastration/Migrations/20230417112838_Initial.Designer.cs
  app/EquineCastration/Migrations/20230417112838_Initial.cs
  app/EquineCastration/Migrations/20230426161711_AddCase.Designer.cs
  app/EquineCastration/Migrations/20230426161711_AddCase.cs
  app/EquineCastration/Migrations/ApplicationDbContextModelSnapshot.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/Services/CaseService.cs
  app/react-native-app/src/api/case.js
  app/react-native-app/src/constants/initial-consultation.js
  app/react-native-app/src/contexts/BackendApi.jsx
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/CaseList.jsx
  app/react-native-app/src/screens/InitialConsultation/Confirmation.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFive.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFour.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepSix.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepTwo.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

Automatically sign in the user after registration. Though user will have to confirm their email once logged out to log back in. Disable registration rules in dev env i.e. any email domain can register
  app/EquineCastration/Controllers/AccountController.cs
  app/EquineCastration/appsettings.Development.json
  app/react-native-app/src/screens/Account/Registration.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API

AB#101562: Backend setup for Case/Initial Consultation form (#6)
  app/EquineCastration/Auth/AuthConfiguration.cs
  app/EquineCastration/Auth/AuthPolicies.cs
  app/EquineCastration/Auth/SitePermissionClaims.cs
  app/EquineCastration/Controllers/CasesController.cs
  app/EquineCastration/Data/ApplicationDbContext.cs
  app/EquineCastration/Data/Entities/Case.cs
  app/EquineCastration/EquineCastration.csproj
  app/EquineCastration/Migrations/20230426161711_AddCase.Designer.cs
  app/EquineCastration/Migrations/20230426161711_AddCase.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/Program.cs
  app/EquineCastration/Services/CaseService.cs
  app/react-native-app/src/api/case.js
  app/react-native-app/src/constants/initial-consultation.js
  app/react-native-app/src/contexts/BackendApi.jsx
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
  app/react-native-app/src/screens/CaseList.jsx
  app/react-native-app/src/screens/InitialConsultation/Confirmation.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFive.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepFour.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepSix.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepTwo.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

Reset/clear the case form data store. Remove unused props that are being passed in CaseDetail page
  app/react-native-app/src/navigation/HomeStack.jsx
  app/react-native-app/src/screens/CaseDetail.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
Labels: Area: Mobile Frontend (React Native)

Minor update with CaseSummary compoonent. Integrate ActionButtons (Edit and Delete) in CaseDetail page
  app/react-native-app/src/components/CaseSummary.jsx
  app/react-native-app/src/screens/CaseDetail.jsx
Labels: Area: Mobile Frontend (React Native)

Display Edit and Delete option only if permitted
  app/EquineCastration/Data/DataSeeder.cs
  app/react-native-app/src/constants/site-permissions.js
  app/react-native-app/src/screens/CaseDetail.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Add delete action
  app/EquineCastration/Controllers/CasesController.cs
  app/EquineCastration/Services/CaseService.cs
  app/react-native-app/src/api/case.js
  app/react-native-app/src/screens/CaseDetail.jsx
  app/react-native-app/src/screens/InitialConsultation/Confirmation.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Clean up
  app/EquineCastration/Services/CaseService.cs
  app/react-native-app/src/components/DatePickerField.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Auto sign-in the user after registration. Update CaseController Delete method. Update admin user permissions
  app/EquineCastration/Controllers/AccountController.cs
  app/EquineCastration/Controllers/CasesController.cs
  app/EquineCastration/Data/DataSeeder.cs
Labels: Area: Backend API

Update Case entity property
  app/EquineCastration/Data/Entities/Case.cs
  app/EquineCastration/Migrations/20230816234358_UpdateCaseProperty.Designer.cs
  app/EquineCastration/Migrations/20230816234358_UpdateCaseProperty.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
Labels: Area: Backend API, Contains: Migrations

Update Registration component to sign in user after the registration. Add numeric validation in yearsQualified field.
  app/react-native-app/src/screens/Account/Registration.jsx
Labels: Area: Mobile Frontend (React Native)

Reset the store when use exits the initial consultation stack. Set Home screen as initial screen when logged in
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/react-native-app/src/components/CaseSummary.jsx
  app/react-native-app/src/navigation/DrawerNavigator.jsx
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Update CaseSummary component.
  app/react-native-app/src/api/case.js
  app/react-native-app/src/components/CaseSummary.jsx
Labels: Area: Mobile Frontend (React Native)

Disable registration rules
  app/EquineCastration/appsettings.Development.json
  app/react-native-app/src/navigation/DrawerNavigator.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Merge new-changes
  app/EquineCastration/Controllers/AccountController.cs
  app/EquineCastration/Controllers/CasesController.cs
  app/EquineCastration/Data/DataSeeder.cs
  app/EquineCastration/Data/Entities/Case.cs
  app/EquineCastration/Migrations/20230816234358_UpdateCaseProperty.Designer.cs
  app/EquineCastration/Migrations/20230816234358_UpdateCaseProperty.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/appsettings.Development.json
  app/react-native-app/src/api/case.js
  app/react-native-app/src/components/CaseSummary.jsx
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

Add action option in case detail screen. Refresh the case list when case list screen is on focus. Add action button component.
  app/react-native-app/src/components/ActionButton.jsx
  app/react-native-app/src/constants/site-permissions.js
  app/react-native-app/src/navigation/CaseStack.jsx
  app/react-native-app/src/screens/CaseDetail.jsx
  app/react-native-app/src/screens/CaseList.jsx
Labels: Area: Mobile Frontend (React Native)

Updatd the existing AddCase migration
  app/EquineCastration/Migrations/20230816234358_UpdateCaseProperty.Designer.cs
  app/EquineCastration/Migrations/20230816234358_UpdateCaseProperty.cs
  app/EquineCastration/Migrations/20230818125743_AddCase.Designer.cs
  app/EquineCastration/Migrations/20230818125743_AddCase.cs
Labels: Area: Backend API, Contains: Migrations

Update CaseService edit method. Edit and delete action
  app/EquineCastration/Services/CaseService.cs
  app/react-native-app/src/components/ActionButton.jsx
  app/react-native-app/src/components/CaseSummary.jsx
  app/react-native-app/src/components/InputField.jsx
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
  app/react-native-app/src/screens/InitialConsultation/Confirmation.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/store/InitialConsultationStore.js
Labels: Area: Mobile Frontend (React Native), Area: Backend API

AB#121722: New updates (#8)
  app/EquineCastration/Controllers/AccountController.cs
  app/EquineCastration/Controllers/CasesController.cs
  app/EquineCastration/Data/DataSeeder.cs
  app/EquineCastration/Data/Entities/Case.cs
  app/EquineCastration/Migrations/20230818125743_AddCase.Designer.cs
  app/EquineCastration/Migrations/20230818125743_AddCase.cs
  app/EquineCastration/Migrations/ApplicationDbContextModelSnapshot.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/EquineCastration/appsettings.Development.json
  app/react-native-app/src/api/case.js
  app/react-native-app/src/components/CaseSummary.jsx
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

Display toast when deleting case.
  app/EquineCastration/Migrations/20230816234358_UpdateCaseProperty.Designer.cs
  app/EquineCastration/Migrations/20230816234358_UpdateCaseProperty.cs
  app/react-native-app/src/screens/CaseDetail.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

Add Delete confirmation alert.
  app/react-native-app/src/components/CaseSummary.jsx
  app/react-native-app/src/screens/CaseDetail.jsx
Labels: Area: Mobile Frontend (React Native)

Add confirmation alert to edit/create confirmation screen.
  app/react-native-app/src/screens/InitialConsultation/Confirmation.jsx
Labels: Area: Mobile Frontend (React Native)

Add LocationOther property to Case entity
  app/EquineCastration/Data/Entities/Case.cs
  app/EquineCastration/Migrations/20230821091258_AddLocationPropertyToCase.Designer.cs
  app/EquineCastration/Migrations/20230821091258_AddLocationPropertyToCase.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
Labels: Area: Backend API, Contains: Migrations

Update UI components
  app/react-native-app/src/components/BasicGroupOptionsField.jsx
  app/react-native-app/src/components/BasicPickerField.jsx
  app/react-native-app/src/components/CaseSummary.jsx
  app/react-native-app/src/components/CheckBoxField.jsx
  app/react-native-app/src/components/DatePickerField.jsx
  app/react-native-app/src/components/FixedStepButton.jsx
  app/react-native-app/src/components/InputField.jsx
  app/react-native-app/src/components/MultiCheckBoxField.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
Labels: Area: Mobile Frontend (React Native)

AB#123159: UI updates (#9)
  app/EquineCastration/Data/Entities/Case.cs
  app/EquineCastration/Migrations/20230821091258_AddLocationPropertyToCase.Designer.cs
  app/EquineCastration/Migrations/20230821091258_AddLocationPropertyToCase.cs
  app/EquineCastration/Models/Case/CaseModel.cs
  app/EquineCastration/Models/Case/CreateCaseModel.cs
  app/react-native-app/src/components/BasicGroupOptionsField.jsx
  app/react-native-app/src/components/BasicPickerField.jsx
  app/react-native-app/src/components/CaseSummary.jsx
  app/react-native-app/src/components/CheckBoxField.jsx
  app/react-native-app/src/components/DatePickerField.jsx
  app/react-native-app/src/components/FixedStepButton.jsx
  app/react-native-app/src/components/InputField.jsx
  app/react-native-app/src/components/MultiCheckBoxField.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/Account/Registration.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

Some comments
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
  app/react-native-app/src/screens/CaseDetail.jsx
Labels: Area: Mobile Frontend (React Native)

AB#101574: Edit and delete action (#10)
  app/EquineCastration/Services/CaseService.cs
  app/react-native-app/src/components/ActionButton.jsx
  app/react-native-app/src/constants/site-permissions.js
  app/react-native-app/src/navigation/CaseStack.jsx
  app/react-native-app/src/navigation/InitialConsultationStack.jsx
  app/react-native-app/src/screens/CaseDetail.jsx
  app/react-native-app/src/screens/CaseList.jsx
  app/react-native-app/src/screens/InitialConsultation/Confirmation.jsx
  app/react-native-app/src/screens/InitialConsultation/InitialConsultationStepOne.jsx
  app/react-native-app/src/store/InitialConsultationStore.js
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Deploy action
  .github/workflows/deploy.equine-castration-api.yml
Labels: Area: CI

Move migration step to deploy job
  .github/workflows/deploy.equine-castration-api.yml
Labels: Area: CI

AB#125799: Deploy backend action (#11)
  .github/workflows/deploy.equine-castration-api.yml
Labels: Area: CI

Version
  app/EquineCastration/EquineCastration.csproj
Labels: Area: Backend API

New publish and deploy workflow
  .github/workflows/deploy.dev.equine-castration.yml
  .github/workflows/deploy.equine-castration-api.yml
  .github/workflows/publish.equine-castration.yml
Labels: Area: CI

Add identifier on request header
  app/react-native-app/src/contexts/BackendApi.jsx
Labels: Area: Mobile Frontend (React Native)

Request header config. Check for an identfier and validate against the backend. THis is ensure request is being made from the app.
  app/EquineCastration/Auth/AuthPolicies.cs
  app/EquineCastration/Config/AppRequestHeaderOptions.cs
  app/EquineCastration/Config/Configs.cs
  app/EquineCastration/Program.cs
  app/EquineCastration/appsettings.Development.json
Labels: Area: Backend API

AB#126185: Updated workflows (#12)
  .github/workflows/deploy.dev.equine-castration.yml
  .github/workflows/deploy.equine-castration-api.yml
  .github/workflows/publish.equine-castration.yml
  app/EquineCastration/EquineCastration.csproj
Labels: Area: CI, Area: Backend API

Update
  .github/workflows/build.react-native-app.yml
  .github/workflows/deploy.dev.equine-castration.yml
  app/EquineCastration/Auth/AuthPolicies.cs
  app/EquineCastration/Config/AppRequestHeaderOptions.cs
  app/EquineCastration/Config/Configs.cs
  app/EquineCastration/Program.cs
  app/react-native-app/src/contexts/BackendApi.jsx
Labels: Area: CI, Area: Mobile Frontend (React Native), Area: Backend API

Update assets
  app/react-native-app/app.json
  app/react-native-app/assets/adaptive-icon.png
  app/react-native-app/assets/icon.png
  app/react-native-app/assets/splash.png
Labels: Area: Mobile Frontend (React Native)

AB#126465: Update auth to allow access (#14)
  .github/workflows/build.react-native-app.yml
  .github/workflows/deploy.dev.equine-castration.yml
  app/EquineCastration/Auth/AuthPolicies.cs
  app/EquineCastration/Config/AppRequestHeaderOptions.cs
  app/EquineCastration/Config/Configs.cs
  app/EquineCastration/Program.cs
  app/react-native-app/app.json
  app/react-native-app/assets/adaptive-icon.png
  app/react-native-app/assets/icon.png
  app/react-native-app/assets/splash.png
  app/react-native-app/src/contexts/BackendApi.jsx
Labels: Area: CI, Area: Mobile Frontend (React Native), Area: Backend API

Remove https setup from the web/client app. keeping the setup minimal
  app/client-app/.aspnet/aspnetcore-https.js
  app/client-app/.aspnet/aspnetcore-react.js
  app/client-app/package.json
Labels: none
