Repository EquineCastration/Equine-Castration, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Mobile Frontend (React Native), Area: Backend API, Contains: Migrations

AB#104066: Process Cases (#19)
  app/EquineCastration/Config/AppDownloadOptions.cs
  app/EquineCastration/Extensions/ServiceCollectionExtensions.cs
  app/EquineCastration/Models/Emails/NotificationEmails.cs
  app/EquineCastration/Program.cs
  app/EquineCastration/Services/CaseService.cs
  app/EquineCastration/Services/EmailServices/DischargeEmailService.cs
  app/EquineCastration/Views/Shared/Emails/Discharge.cshtml
  app/EquineCastration/Views/Shared/Emails/DischargeRegistrationRequest.cshtml
  app/EquineCastration/appsettings.Development.json
Labels: Area: Backend API

Remove console log.
  app/react-native-app/src/screens/Account/RequestPasswordReset.jsx
Labels: Area: Mobile Frontend (React Native)

Remove irrelevant permissions and role (admin). Include roles in the user profile.
  app/EquineCastration/Auth/SitePermissionClaims.cs
  app/EquineCastration/Data/DataSeeder.cs
  app/EquineCastration/Models/User/UserProfileModel.cs
  app/EquineCastration/Services/UserService.cs
Labels: Area: Backend API

Integrate roles and remove irrelevant site-permissions on the client.
  app/react-native-app/src/constants/site-permissions.js
  app/react-native-app/src/constants/site-roles.js
  app/react-native-app/src/navigation/DrawerNavigator.jsx
  app/react-native-app/src/screens/CaseDetail.jsx
  app/react-native-app/src/screens/UserHome.jsx
Labels: Area: Mobile Frontend (React Native)

Minor UI changes. Update CaseService List method to enable both owner and vet to list their cases.
  app/EquineCastration/Services/CaseService.cs
  app/react-native-app/src/components/ScreenHeader.jsx
  app/react-native-app/src/navigation/CaseStack.jsx
  app/react-native-app/src/navigation/DrawerNavigator.jsx
  app/react-native-app/src/screens/CaseList.jsx
  app/react-native-app/src/screens/UserHome.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Case overview which includes a navigation to case detail and case surveys
  app/react-native-app/src/navigation/CaseStack.jsx
  app/react-native-app/src/navigation/DrawerNavigator.jsx
  app/react-native-app/src/screens/CaseList.jsx
  app/react-native-app/src/screens/CaseOverview.jsx
  app/react-native-app/src/screens/UserHome.jsx
Labels: Area: Mobile Frontend (React Native)

New Survery and SurveryType entity and updated Horse entity
  app/EquineCastration/Data/ApplicationDbContext.cs
  app/EquineCastration/Data/Entities/Horse.cs
  app/EquineCastration/Data/Entities/Survey.cs
  app/EquineCastration/Data/Entities/SurveyType.cs
Labels: Area: Backend API

Seed survey types
  app/EquineCastration/Constants/SurveyTypes.cs
  app/EquineCastration/Data/ApplicationDbContext.cs
  app/EquineCastration/Data/DataSeeder.cs
  app/EquineCastration/Data/Entities/Survey.cs
  app/EquineCastration/Models/Survey/CreateSurveyTypeModel.cs
  app/EquineCastration/Program.cs
Labels: Area: Backend API

Seed Surveys permissions
  app/EquineCastration/Auth/AuthConfiguration.cs
  app/EquineCastration/Auth/AuthPolicies.cs
  app/EquineCastration/Auth/SitePermissionClaims.cs
  app/EquineCastration/Data/DataSeeder.cs
Labels: Area: Backend API

Update Horse and Survey entity
  app/EquineCastration/Data/Entities/Horse.cs
  app/EquineCastration/Data/Entities/Survey.cs
Labels: Area: Backend API

Survey controller and service including dto models.
  app/EquineCastration/Controllers/SurveyController.cs
  app/EquineCastration/Models/Survey/CreateSurveyModel.cs
  app/EquineCastration/Models/Survey/SurveyModel.cs
  app/EquineCastration/Program.cs
  app/EquineCastration/Services/SurveyService.cs
Labels: Area: Backend API

New permission to view eligible survey type, including seeding.
  app/EquineCastration/Auth/AuthConfiguration.cs
  app/EquineCastration/Auth/AuthPolicies.cs
  app/EquineCastration/Auth/SitePermissionClaims.cs
  app/EquineCastration/Constants/SurveyTypes.cs
  app/EquineCastration/Data/DataSeeder.cs
Labels: Area: Backend API

Updated Survey entity including migration.
  app/EquineCastration/Data/Entities/Survey.cs
  app/EquineCastration/Migrations/20240229001353_AddSurveyAndType.Designer.cs
  app/EquineCastration/Migrations/20240229001353_AddSurveyAndType.cs
Labels: Area: Backend API, Contains: Migrations

New Survey service method to get eligible survey type for the given case.
  app/EquineCastration/Controllers/SurveyController.cs
  app/EquineCastration/Models/Survey/CreateSurveyModel.cs
  app/EquineCastration/Models/Survey/SurveyModel.cs
  app/EquineCastration/Models/Survey/SurveyTypeModel.cs
  app/EquineCastration/Services/SurveyService.cs
Labels: Area: Backend API

AB#104070: Email service (#20)
  app/EquineCastration/Config/EmailSenderOptions.cs
  app/EquineCastration/EquineCastration.csproj
  app/EquineCastration/Extensions/ServiceCollectionExtensions.cs
  app/EquineCastration/Services/EmailSender/SmtpEmailSender.cs
  app/client-app/package.json
  app/client-app/src/pages/account/ResendPasswordReset.jsx
  app/client-app/src/pages/account/ResetPassword.jsx
  app/client-app/src/routes/Account.jsx
  app/client-app/vite.config.js
  app/client-app/vite.config.ts
  app/react-native-app/package.json
  app/react-native-app/src/App.jsx
  app/react-native-app/src/api/account.js
  app/react-native-app/src/contexts/BackendApi.jsx
  app/react-native-app/src/contexts/BackendApiProvider.jsx
  app/react-native-app/src/navigation/AccountStack.jsx
  app/react-native-app/src/screens/Account/AccountLogin.jsx
  app/react-native-app/src/screens/Account/RequestPasswordReset.jsx
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Undo Horse entity update
  app/EquineCastration/Data/Entities/Horse.cs
Labels: Area: Backend API

AB#151904: Case UI flow update (#21)
  app/EquineCastration/Auth/SitePermissionClaims.cs
  app/EquineCastration/Data/DataSeeder.cs
  app/EquineCastration/Models/User/UserProfileModel.cs
  app/EquineCastration/Services/CaseService.cs
  app/EquineCastration/Services/UserService.cs
  app/react-native-app/src/components/ScreenHeader.jsx
  app/react-native-app/src/constants/site-permissions.js
  app/react-native-app/src/constants/site-roles.js
  app/react-native-app/src/navigation/CaseStack.jsx
  app/react-native-app/src/screens/CaseDetail.jsx
  app/react-native-app/src/screens/CaseList.jsx
  app/react-native-app/src/screens/CaseOverview.jsx
  app/react-native-app/src/screens/UserHome.jsx
Labels: Area: Mobile Frontend (React Native), Area: Backend API

Rename controller name.
  app/EquineCastration/Controllers/SurveysController.cs
Labels: Area: Backend API

Created 2 new projects - data and functions. Moved data folder contents from site to data. Also modified surveytype to hold number of days
  Data/ApplicationDbContext.cs
  Data/Data.csproj
  Data/Entities/Case.cs
  Data/Entities/FeatureFlag.cs
  Data/Entities/Horse.cs
  Data/Entities/Identity/ApplicationUser.cs
  Data/Entities/Identity/Owner.cs
  Data/Entities/Identity/Veterinarian.cs
  Data/Entities/RegistrationRule.cs
  Data/Entities/Survey.cs
  Data/Entities/SurveyType.cs
  Data/Migrations/20230417112838_Initial.Designer.cs
  Data/Migrations/20230417112838_Initial.cs
  Data/Migrations/20230818125743_AddCase.Designer.cs
  Data/Migrations/20230818125743_AddCase.cs
  Data/Migrations/20230821091258_AddLocationPropertyToCase.Designer.cs
  Data/Migrations/20230821091258_AddLocationPropertyToCase.cs
  Data/Migrations/20240222142703_AddOwnerAndHorse.Designer.cs
  Data/Migrations/20240222142703_AddOwnerAndHorse.cs
  Data/Migrations/20240229001353_AddSurveyAndType.Designer.cs
  Data/Migrations/20240229001353_AddSurveyAndType.cs
  Data/Migrations/ApplicationDbContextModelSnapshot.cs
  EquineCastration.sln
  Functions/.gitignore
  Functions/Function1.cs
  Functions/Functions.csproj
  Functions/Properties/launchSettings.json
  Functions/Properties/serviceDependencies.json
  Functions/Properties/serviceDependencies.local.json
  Functions/host.json
  app/EquineCastration/Data/DataSeeder.cs
  app/EquineCastration/EquineCastration.csproj
  app/EquineCastration/Models/Survey/CreateSurveyTypeModel.cs
  app/EquineCastration/Services/SurveyService.cs
Labels: Area: Backend API

New migration - added days after to survey type
  Data/Migrations/20240304143806_DataTypeDaysAfter.Designer.cs
  Data/Migrations/20240304143806_DataTypeDaysAfter.cs
Labels: none

Upgrade packages including new package for improved UI
  app/react-native-app/package.json
  pnpm-lock.yaml
Labels: Area: Mobile Frontend (React Native)

Common style components for the app, such as colours, font, spacing. This ensures the UI consistency throughout the app.
  app/react-native-app/src/style/colors.js
  app/react-native-app/src/style/index.js
  app/react-native-app/src/style/spacing.js
  app/react-native-app/src/style/style.js
  app/react-native-app/src/style/toastConfig.js
  app/react-native-app/src/style/typography.js
Labels: Area: Mobile Frontend (React Native)

Style context which provides color towards its children. Useful with theme/mode switching (dark/light mode).
  app/react-native-app/src/App.jsx
  app/react-native-app/src/contexts/StyleProvider.jsx
Labels: Area: Mobile Frontend (React Native)

Screen component. Useful when creating new screen as this already has the boilerplate for setting up screen.
  app/react-native-app/src/components/Screen.jsx
Labels: Area: Mobile Frontend (React Native)

Text component
  app/react-native-app/src/components/Text.jsx
Labels: Area: Mobile Frontend (React Native)

Button component. Utilises new introduced Pressable component. Also offers flexibility such as ability to add custom component on the left/right
  app/react-native-app/src/components/Button.jsx
Labels: Area: Mobile Frontend (React Native)

FieldView is basically a template one can use when creating a new field type component as it already has the style including the label props for setting label.
  app/react-native-app/src/components/forms/FieldView.jsx
  app/react-native-app/src/components/forms/FormError.jsx
Labels: Area: Mobile Frontend (React Native)

Checkbox field component but value is the string representation of the selection and can be multiple too (becomes array of selection).
  app/react-native-app/src/components/forms/GroupCheckBoxField.jsx
Labels: Area: Mobile Frontend (React Native)

Toggle field component (bool value) with two variant (checkbox and toggle switch (default).
  app/react-native-app/src/components/forms/ToggleField.jsx
Labels: Area: Mobile Frontend (React Native)

Basically same as the existing one but integrates newly created style.
  app/react-native-app/src/components/forms/InputField.jsx
Labels: Area: Mobile Frontend (React Native)

Survey types constant
  app/react-native-app/src/constants/survey-types.js
Labels: Area: Mobile Frontend (React Native)

Generate initial values based on survey type. Ensures formik state only holds relevant values.
  app/react-native-app/src/screens/Survey/survey-form/initialValues.js
Labels: Area: Mobile Frontend (React Native)

Generate validation schema based on the survey type.
  app/react-native-app/src/screens/Survey/survey-form/validationSchema.js
Labels: Area: Mobile Frontend (React Native)

Variant of survey form.
  app/react-native-app/src/screens/Survey/survey-form/SurveyFormTypeOne.jsx
  app/react-native-app/src/screens/Survey/survey-form/SurveyFormTypeThree.jsx
  app/react-native-app/src/screens/Survey/survey-form/SurveyFormTypeTwo.jsx
  app/react-native-app/src/screens/Survey/survey-form/index.jsx
Labels: Area: Mobile Frontend (React Native)

Updated tools, migration, added shared folder
  .config/dotnet-tools.json
  Data/Entities/Case.cs
  Data/Entities/Identity/Owner.cs
  EquineCastration.sln
  Functions/Function1.cs
  Functions/Functions.csproj
  Functions/Program.cs
  Functions/README.md
  Functions/SendSurveyNotifications.cs
  Functions/Services/Contracts/ISurveyService.cs
  Functions/Services/SurveyEmailService.cs
  Functions/Services/SurveyService.cs
  Shared/Contracts/IEmailSender.cs
  Shared/EmailSender/LocalDiskEmailSender.cs
  Shared/EmailSender/SendGridEmailSender.cs
  Shared/EmailSender/SmtpEmailSender.cs
  Shared/Models/Email/EmailAddress.cs
  Shared/Shared.csproj
  app/EquineCastration/EquineCastration.csproj
Labels: Area: Backend API

Moved contents to new shared folder
  Functions/SendSurveyNotifications.cs
  Functions/Services/SurveyService.cs
  Shared/Config/AppDownloadOptions.cs
  Shared/Config/AppRequestHeaderOptions.cs
  Shared/Config/Configs.cs
  Shared/Config/EmailSenderOptions.cs
  Shared/Config/RegistrationOptions.cs
  Shared/Config/UserAccountOptions.cs
  Shared/EmailSender/LocalDiskEmailSender.cs
  Shared/EmailSender/SendGridEmailSender.cs
  Shared/EmailSender/SmtpEmailSender.cs
  Shared/Extensions/HttpRequestExtensions.cs
  Shared/Extensions/ModelStateDictionaryExtensions.cs
  Shared/Extensions/ServiceCollectionExtensions.cs
  Shared/Extensions/StringEncodingExtensions.cs
  Shared/Services/EmailServices/AccountEmailService.cs
  Shared/Services/EmailServices/DischargeEmailService.cs
  Shared/Services/EmailServices/RazorViewService.cs
  Shared/Shared.csproj
  app/EquineCastration/Controllers/UserController.cs
  app/EquineCastration/Controllers/UsersController.cs
  app/EquineCastration/EquineCastration.csproj
  app/EquineCastration/Program.cs
  app/EquineCastration/Services/CaseService.cs
  app/EquineCastration/Services/TokenIssuingService.cs
Labels: Area: Backend API

SurveyForm component
  app/react-native-app/src/navigation/CaseStack.jsx
  app/react-native-app/src/screens/CaseOverview.jsx
  app/react-native-app/src/screens/Survey/SurveyForm.jsx
  app/react-native-app/src/screens/Survey/form/SurveyFormTypeOne.jsx
  app/react-native-app/src/screens/Survey/form/SurveyFormTypeThree.jsx
  app/react-native-app/src/screens/Survey/form/SurveyFormTypeTwo.jsx
  app/react-native-app/src/screens/Survey/form/index.jsx
  app/react-native-app/src/screens/Survey/form/initialValues.js
  app/react-native-app/src/screens/Survey/form/validationSchema.js
Labels: Area: Mobile Frontend (React Native)

Slider component as formik field component.
  app/react-native-app/src/components/Screen.jsx
  app/react-native-app/src/components/Text.jsx
  app/react-native-app/src/components/forms/SliderField.jsx
  app/react-native-app/src/components/forms/index.jsx
Labels: Area: Mobile Frontend (React Native)

Adjust Spinner component
  app/react-native-app/src/components/Screen.jsx
  app/react-native-app/src/components/Spinner.jsx
  app/react-native-app/src/components/forms/FormError.jsx
  app/react-native-app/src/style/colors.js
Labels: Area: Mobile Frontend (React Native)

Survey end points
  app/react-native-app/src/api/survey.js
Labels: Area: Mobile Frontend (React Native)

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .azure/pipelines/**/*
  - .github/**/*
"Area: Mobile Frontend (React Native)":
  - app/react-native-app/**/*
"Area: Backend API":
  - app/EquineCastration/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
